<h3>Providers</h3>
<p class="uk-align-right">
  <span uk-icon="icon: plus-circle"></span> 
  <%= link_to 'Add provider', new_provider_path(@provider), class: 'uk-icon-link' %>
</p>
<table class="uk-table uk-table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>
<% @providers.each do |provider| %>
  <tr>
    <td><a href="/providers/<%= provider.id %>"><%= provider.name %></a></td>
    <td><%= provider.address %></td>
  </tr>
<% end %>
</table>
