<p class="uk-align-right">
  <span uk-icon="icon: pencil"></span> 
  <%= link_to 'Edit', edit_provider_path(@provider), class: 'uk-icon-link' %>
  <span uk-icon="icon: trash"></span> 
  <%= link_to 'Delete', provider_path(@provider), method: :delete, class: 'uk-icon-link', data: { confirm: 'Are you sure?' } %>
</p>
<h3><%= @provider.name %></h3>
<p><%= @provider.address %></p>
